/* 定义颜色变量 */
/* light mode color */
:root {
  --light-bg-color: #f8f9fa;
  --light-bg1-color: #dee2e6;
  --light-text-color: #343a40;
}
/* dark mode color */
:root {
  --dark-bg-color: #343a40;
  --dark-bg1-color: #636566;
  --dark-text-color: #f8f9fa;
}

/* main color */
:root {
  --book-bg-color: #f16667;
  --title-bg-color: #8dcc93;
  --node-bg-color: #57c7e3;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;

  --bg-color: var(--light-bg-color);
  --bg1-color: var(--light-bg1-color);
  --text-color: var(--light-text-color);
}

body {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  background-color: var(--bg-color);
}

#title,
#author {
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

#toggle-theme {
  position: fixed; /* 设置为固定定位 */
  bottom: 10%; /* 距离底部 10%，即在底部 90% 的位置 */
  right: 20px; /* 距离右侧 20px */
  z-index: 999; /* 确保按钮始终显示在最上层 */
}

.graph {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  cursor: move; /* 设置鼠标指针样式 */
  user-select: none; /* 禁止选择文本 */
  overflow-y: auto; /* 如果内容过长，则显示滚动条 */
  background-color: var(--bg-color);
  padding: 20px;
  border: 1px solid var(--bg1-color);
  border-radius: 5px;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}
