<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <script src="static/js/script.js" type="module"></script>
    <title>《苗药方剂学》苗药知识图谱</title>
  </head>
  <body>
    <div class="container">
      <h1 id="title">《苗药方剂学》苗药知识图谱</h1>
      <h2 id="author">（作者：2019 大数据 曹佳阳； 指导老师：莫礼平）</h2>
    </div>
    <div id="graph" class="graph">
      <div class="info-box" id="info-box">点击节点以显示数据</div>
    </div>
    <button id="toggle-theme">切换日夜模式</button>
    <script src="static/js/theme.js"></script>
  </body>
</html>
