.key {
    font-weight: bold;
}

.btn-book {
    background-color: rgb(241, 102, 103);
    color: black;
}

.btn-title {
    background-color: rgb(141, 204, 147);
    color: black;
}

.btn-node {
    background-color: rgb(87, 199, 227);
    color: black;
}
