<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <title>《苗药方剂学》苗药知识图谱</title>
    </head>

  <body>
    <body>
        <!-- <h1>知识图谱</h1> -->
        <div id="book-info">
            <h2 id="book-title">《苗药方剂学》苗药知识图谱</h2>
            <h3 id="book-author">（作者：2019 大数据 曹佳阳； 指导老师：莫礼平）</h3>
        </div>
        <div id="graph"></div>
        <button id="toggle-theme">切换主题</button>
        <div id="data-display"></div>
    
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
    
</html>
